/* General styling */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Header */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* Hour interval styling */
.row {
  white-space: pre-wrap;
  min-height: 80px;
  border-top: 1px solid white;;
}

.row:last-of-type {
  border-bottom: 1px dashed #000000;
  margin-bottom: 30px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.hour-interval {
  padding-top: 10px;
  padding-left: 30px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}

/* Hour interval colors */
.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

/* Save button formatting */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .hour-interval {
    padding: 0 0 0 10px;
  }
}